<!DOCTYPE html>
<html>
<head>
  <title>CieloAssets</title>
  <%= stylesheet_link_tag    "cielo_assets", media: "all" %>
  <%= javascript_include_tag "cielo_assets" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
